.ArchiveUploadForm{
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.ArchiveUploadFormDiv{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.ArchiveUploadFormInputFile{
    display: none;
}

.ArchiveUploadSvgTextSpace{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.ArchiveUploadFormButton{
    display: inline-flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid #5828AC;
}

.ArchiveUploadFormButtonText{
    color: #423D4D;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ArchiveUploadFormText{
    color: #C6C2CC;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ArchiveUploadFormLabel{
    color: #423D4D;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.ArchiveUploadFormLabelText{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SelectedArchivesMainDiv{
    width: 314px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.SelectedArchivesDiv{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.SelectedArchivesFileNameText{
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.SelectedArchivesFileDataText{
    color: #A39DAD;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.SelectedArchivesFileTypeText{
    color: #C6C2CC;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.SelectedArchivesButton{
    appearance: none;
    border: none;
    background-color: transparent;
    width: 24px;
    height: 24px;
}

.SelectedArchivesSelect{
    height: 21px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    border-radius: 8px;
    background: #5828AC;
}

